
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
.giaoDien{
    width: 100%;
    min-height: 100vh;
    background-image: url(LOGO.jpg);
    background-position: center;
    background-size: cover ;
    padding: 10px 10%;
    overflow: hidden;
}

nav{
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
logo{
    width: 1;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 15px;
}
.login-btn {

    text-decoration: none;
    color: #333;
    margin-right: 15px;
    font-weight: 400;
}
.btn {
    display:inline-block;
    text-decoration: none;
    padding: 14px 40px;
    color: #fff;
    background-image: linear-gradient(45deg, #A52A2A, #be314e);
    font-size: 14px;
    border-radius: 30px;
    font-size: large;
    font-weight: bolder;
    border-top-right-radius: 30px;
    transition: 0.5s;
}
.content{
    margin-top: 10%; 
    max-width: 600px;
}
.content h1{
    font-size: 70px;
    color: #222;
    line-height: 2;
}
.content p{
    line-space: 0.5;
    animation-delay: 0.5s;

}
.content .btn {
    padding: 15px 80px;
    font-size: 20px;
    animation-delay: 1s;
}
.btn:hover {
    background-image: linear-gradient(45deg,  #d3501321, #1a1112);
}
.hospital-pic {

    padding: 15px 80px;
    border-radius: 1000px;
    width: 1000px;
    bottom: 0;
    position: absolute;
    border-top-right-radius: 30px;
    right: 10%;
}
.anim{

    opacity: 0;
    transform: translateY(30px);
    animation: moveup 0.5s linear  forwards;
}
@keyframes moveup{
    100% {
        opacity: 1;
        transform: translateY(0px);

    }
}